@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 6 57% 4%;
      --foreground: 6 37% 98%;
      --muted: 6 12% 12%;
      --muted-foreground: 6 9% 72%;
      --popover: 6 57% 4%;
      --popover-foreground: 6 37% 98%;
      --card: 6 57% 4%;
      --card-foreground: 6 37% 98%;
      --border: 6 13% 13%;
      --input: 6 13% 13%;
      --primary: 6 26% 47%;
      --primary-foreground: 0 0% 100%;
      --secondary: 6 12% 11%;
      --secondary-foreground: 6 12% 71%;
      --accent: 6 18% 18%;
      --accent-foreground: 6 18% 78%;
      --destructive: 21 100% 45%;
      --destructive-foreground: 0 0% 100%;
      --ring: 6 26% 47%;
      --radius: 0.5rem
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }